<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Mars Missions</h1>
    <ul class="missions">
        
        <% for(let i = 0; i < missions.length; i++) { %>
        <li>
            <a href="/missions/<%=i%>"><%= missions[i].name %></a>
      
        </li>
        <% }%>
    </ul>
    
</body>
</html>